.friend-add-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 300px;
    padding: 0 20px;
    box-sizing: border-box;
}
.friend-add-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.friend-add-item input{
    width: 300px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.friend-add-item button.add-button{
    width: 120px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: #cc6600;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
}

/* hover */
.friend-add-item button.add-button:hover {
    background-color: #994c00;
}

.friend-add-message {
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px;
    min-height: 20px;
}

.friend-add-message.success {
    color: green;
}

.friend-add-message.error {
    color: red;
}

input::placeholder {
    color: #242424;
}