.submit-button {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    align-self: center;
    display: block;
    margin-top: 80px;
}

.submit-button:hover {
    background-color: #004494;
}