<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="fragment/header :: commonHeader('Login - Pay My Buddy','/css/login.css')">
</head>

<body>
<div class="main-container">
    <div class="header-box" role="banner">
        <h1>
            Pay My Buddy
        </h1>
    </div>

    <form class="form-box" method="post" th:action="@{/auth/login}">

        <div class="message" th:if="${param.error}" style="color:red;">
            Identifiants invalides. Veuillez réessayer.
        </div>

        <div class="form-group">
            <label for="username">Mail</label>
            <input type="email" id="username" placeholder="Mail" name="username" required/>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" placeholder="Mot de passe" name="password" required/>
        </div>

        <button type="submit" class="submit-button" >Se connecter</button>

    </form>
</div>

</body>
</html>